/*************/
/* ALGEMEEN */
/***********/

body{
    /* nog uitzoeken welke beste font is */
    font-family: 'Open Sans', sans-serif;
    margin: 0em;
}


/*********************/
/****** HEADER ******/
/*******************/

header{
    background-color: black;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header p{
    margin: 0;
}

header > p{
    text-transform: uppercase;
    font-weight: 700;
}

/****************************/
/****** EDITOR MODE  *******/
/**************************/

header  p a{
    color: white;
    text-transform: lowercase;
    font-weight: 400;
}

.menu {
    position: absolute;
    background-color: blueviolet;
    top: -10em;
    right: 0em;
}

.menu.show{
    top: 2em;
    right: 0em;
}


/****************************/
/**** DARK MODE BUTTON *****/
/**************************/

.darkMode {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 1em;
    font-size: 18px;
    box-shadow: 2px 2px 4px rgb(113, 113, 113);
    transition: .5s ease;
}

.darkMode:hover{
    background-color: rgb(39, 39, 39);
    cursor: pointer;
    box-shadow: 1px 1px 4px rgb(113, 113, 113);
}

/*************************/
/****** TRANSCRIPT ******/
/***********************/

main{
    margin: 1em;
    font-size: 20px;
}

.transcript {
    margin: auto;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
    margin: 1em 0em;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    /* fijnste lezen, qua breedte: 600px */
    /* note dat dit 750 is, komt door de min width van de naam */
    max-width: 650px; 
}

ul li p{
    font-size: 22px;
    padding: .8em;
    margin: .2em 0em 0em 0em;
    line-height: 33px;
}

ul li p:first-of-type{
    font-weight: 700;
    min-width: 145px;
    margin: auto 0;
}

ul li p i{
    font-weight: bold;
}

/*************/
/* SPREKERS */
/***********/

ul li .person1, ul li .person2, ul li .person3 {
    border-radius: 10px 10px 0px 0px;
    padding: .5em;
}

ul li .person1{
    background-color: rgb(197, 78, 78);
}

ul li .person2{
    background-color:  rgb(52, 123, 180);
}

ul li .person3{
    background-color: rgb(194, 130, 57);
}

/****************/
/**** TUNE *****/
/**************/

.tune {
    background: rgb(233,71,71);
    background: linear-gradient(133deg, rgba(233,71,71,1) 7%, rgba(227,146,56,1) 21%, rgba(239,242,56,1) 43%, rgba(131,240,99,1) 63%, rgba(51,147,226,1) 82%); 
}

ul li.tune p{
    text-align: center;
}

/*********************/
/****** FOOTER *******/
/********************/

footer p{
    text-align: center;
}

/**************************/
/****** RESPONSIVE *******/
/************************/

@media (min-width: 750px){

    /* LAYOUT */

    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 2em;
    }

    /* transcript */

    ul li{
        display: flex;
        max-width: 750px; 
    }

    ul li .person1, ul li .person2, ul li .person3 {
        border-radius: 10px 0px 0px 10px;
        padding: .5em;
        width: inherit;
    }

    ul li p {
        padding: .8em;
        margin: 0em 0em 0em 0em;
    }

    ul li p:first-of-type{
        margin: 0;
    }
}

/*******************/
/*** DARK MODE ****/
/*******************/

.darkmode1 div:first-of-type > p , .darkmode2 div:first-of-type > p, .darkmode3 div:first-of-type > p {
    text-transform: uppercase;
    font-weight: 700;
}

.darkmode1  header section p:nth-of-type(1) a, .darkmode2  header section p:nth-of-type(2) a, .darkmode3  header section p:nth-of-type(3) a{
    font-weight: 700;
    text-transform: uppercase;
}


/* Darkmode 1 */

.darkmode1 {
    background-color: black;
    color: white;
}

.darkmode1 .transcript ul li {
    background-color: rgb(74, 74, 74);
}


.darkmode1 ul li .person1{
    background-color: rgb(122, 17, 17);
}

.darkmode1 ul li .person2{
    background-color:  rgb(19, 72, 115);
}

.darkmode1 ul li .person3{
    background-color: rgb(132, 83, 27);
}

.darkmode1 .tune, .darkmode2 .tune, .darkmode3 .tune {
    background: rgb(233,71,71);
    background: linear-gradient(133deg, rgb(136, 20, 20) 7%, rgb(120, 70, 12) 21%, rgb(134, 136, 11) 43%, rgb(36, 113, 12) 63%, rgb(12, 70, 117) 82%); 
}

.darkmode1 main a, .darkmode2 main a, .darkmode3 main a{
    color:rgb(60, 142, 209);
}

/* darkmode 2 */

.darkmode2 header{
    background-color: rgb(57, 57, 57);
}

.darkmode2 {
    background-color: rgb(57, 57, 57);
    color: white;
}

.darkmode2 .transcript ul li {
    background-color: rgb(0, 0, 0);
}


.darkmode2 ul li .person1{
    background-color: rgb(122, 17, 17);
}

.darkmode2 ul li .person2{
    background-color:  rgb(19, 72, 115);
}

.darkmode2 ul li .person3{
    background-color: rgb(132, 83, 27);
}

.darkmode2 footer a  {
    color:rgb(60, 142, 209);
}

/* darkmode 3 */

.darkmode3 {
    background-color: rgb(0, 0, 0);
    color: white;
}

.darkmode3 .transcript ul li {
    background-color: rgb(0, 0, 0);
    border: white solid 2px;
}


.darkmode3 ul li .person1{
    background-color: rgb(122, 17, 17);
}

.darkmode3 ul li .person2{
    background-color:  rgb(19, 72, 115);
}

.darkmode3 ul li .person3{
    background-color: rgb(132, 83, 27);
}

.darkmode3 footer a  {
    color:rgb(60, 142, 209);
}
